

application-javascript/node_modules/**
application-javascript/.idea/**
application-javascript/node_ssl/**
application-javascript/openssl_certs/**
application-javascript/package-lock.json

chaincode-javascript/node_modules/**
chaincode-javascript/.idea/**
chaincode-javascript/ChaincodeTest.iml
chaincode-javascript/tmp.json
chaincode-javascript/package-lock.json
chaincode-javascript/person.js
chaincode-javascript/main.js
chaincode-javascript/data.json
chaincode-javascript/objects.json
